.btn {
    margin:10px 10px 0px 0px;
    background-color: rgb(0, 179, 255);
}
#add-show {
    background-color: rgb(0, 179, 255);
}
body {
    background-color: rgb(0, 37, 92);
}
.title-rating {
    background-color: rgb(0, 179, 255);
    width: 300px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: black;
    overflow: auto;
    padding:5px;

}
img {
    margin: 10px;
    
}
.instructions1 {
    font-size: 20px;
}
.instructions2 {
    font-size: 20px;
}
li {
    font-size: 20px;
}
#download {
    clear: both;
}
